spring:
  application:
    name: doc-search
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  datasource:
    url: jdbc:postgresql://localhost:6543/docsearch
    username: postgres
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  flyway:
    enabled: false
    locations: classpath:db/migration

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        include: true
        options:
          model: mistral
      embedding:
        options:
          model: nomic-embed-text
      vectorstore:
        pgvector:
          initialize-schema: true
          dimensions: 768
          index-type: hnsw

server:
  port: 8080
